img {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
      margin-left: -300%;
      width: 0%;
    }
  }

img:hover {
  border-width: 5px;
  border-color: aqua;
  background-image: url("https://wallpaperaccess.com/full/676549.jpg");
  border-radius: 5px;
  padding: 1rem;
  transition: ease-in-out;
}

img.container {
  border-width: 5px;
  border-color: aqua;
  background-image: url("https://c.tenor.com/BaWRKCeYEQEAAAAC/blueflames-shining.gif");
  border-radius: 5px;
  padding: 1rem;
  transition: ease-in-out;
}